* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#lienzo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent
}

#girarBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff22;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  z-index: 10;
}