* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333333; 
}

#lienzo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 1; 
}

#rectangulo {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%); 
  width: 100px; 
  height: 100px; 
  cursor: pointer;
  z-index: 100; 
}

#rectangulo::before,
#rectangulo::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 30px; 
  background-color: #ff5733; 
  border-radius: 15px 5px 15px 5px; 
  transform-origin: 50% 50%; 
}

#rectangulo::before {
  top: 35px;
  left: 0;
  transform: rotate(45deg); 
}

#rectangulo::after {
  top: 35px;
  right: 0;
  transform: rotate(-45deg); 
}